/*Asterix wildcard selector to override default styles; referenced from love running walkthrough project*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    width: 100wv;
    background-color: #a3ed61; 
    text-align: center;
    gap: 5px;
    color: black;
}

/*Header*/
header {
    background-color: #f8aa0d;
    width: 60%;
}

#page-title {
    font-size: 200%;
    padding: 15px 0;
    border: 2px black solid; 
    border-bottom: 0;
}

/*Decoration for navigation section*/
nav {
   font-size: 150%;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    border: 2px black solid;
    padding: 5px 0;
}

li > a {
    text-decoration: none;
    color: #000000;
}

li > a:hover {
    font-size: 125%;
    color: #a3ed61;
}

/*Main section*/
main {
    background-color: #f7e40c;
    flex: 1 0 auto;
    width: 60%;
    border: 2px black solid;
}

/*Footer*/
footer {
    background-color: #f8aa0d;
    width: 60%;
    border: 2px black solid;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 125%;
}

/*Logo in footer*/
span > a {
    color: black;
    text-decoration: none;
}

span > a:hover {
    font-size: 125%;
    color: #a3ed61;
}
