/*Asterix wildcard selector to override default styles; referenced from love running walkthrough project*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    display: flex;
    flex-direction: column;
}

/*Header*/
header {
    background-color: #f7e40c;
}

/*Main section*/
main {
    background-color: #a3ed61;
}

/*Footer*/
footer {
    background-color: #f8aa0d;
}