/*Asterix wildcard selector to override default styles; referenced from love running walkthrough project*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: #a3ed61;
    text-align: center;
    gap: 5px;
    color: black;
}

/*Heading 2 general style*/

h2 {
    font-size: 200%;
    margin: 10px 0;
}

/*Header*/
header {
    background-color: #f8aa0d;
    width: 80%;
    max-width: 1057px;
    box-shadow: 3px 3px 10px #000000;
}

#page-title {
    font-size: 200%;
    padding: 15px 0;
    border: 2px black solid;
    border-bottom: 0;
}

/*Decoration for navigation section*/
nav {
    font-size: 150%;
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    border: 2px black solid;
    padding: 5px 0;
}

li>a {
    text-decoration: none;
    color: #000000;
}

li>a:hover {
    font-size: 125%;
    color: #a3ed61;
}

/*Main section*/
main {
    /*Properties flex child*/
    flex: 1 0 auto;
    width: 80%;
    max-width: 1057px;
    /*Properties flex parent*/
    display: flex;
    flex-direction: column;    
    gap: 5px;
}

/*Styling for the different sections of the main-section*/
.style-main {
    border: 2px black solid;
    box-shadow: 3px 3px 10px #000000;
    background-color: #f7e40c;
}

/*Class for paragraphs facts*/
.facts {
    background-color: rgb(235, 255, 125);
    border: 2px black solid;
    box-shadow: 3px 3px 10px #000000;
    width: 30%;
    height: 30%;
    align-self: center;
    padding: 5px;
    text-align: start;
}

/*Class for images facts*/
.image-facts {
    width: 60%;
    box-shadow: 3px 3px 10px #000000;
    object-fit: cover;
}

/*Class to make section flex-container*/
.flex-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
}

/*Class for align left*/
.align-left {
    order: -1;
    margin-left: 5px;
}

/*Class for align right*/
.align-right {
    order: 2;
    margin-right: 5px;
}

/*Styles for image benefits*/
#image-benefits {
    width: 30%;
    object-fit: contain;
}

/*Footer*/
footer {
    background-color: #f8aa0d;
    width: 80%;
    max-width: 1057px;
    border: 2px black solid;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 125%;
    box-shadow: 3px 3px 10px #000000;
}

/*Logo in footer*/
span>a {
    color: black;
    text-decoration: none;
}

span>a:hover {
    font-size: 125%;
    color: #a3ed61;
}